* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  :root {
    --accent_01: #D3F3FF;
    --accent_02: #7BDAFF;
    --accent_03: #23C1FF;
    --accent_04: #157499;
    --accent_05: #072733;
    --neutral_01: #EAEAEB;
    --neutral_02: #D6D6D7;
    --neutral_03: #ADADAF;
    --neutral_04: #838387;
    --neutral_05: #5A5A5F;
    --neutral_06: #313137;
    --fbg_white: #F7F7F7;
    --fbg_black: #242424;
    --status_green: #2CC941;
    --status_red: #D32E22;
    --padding: min(6vw, 40px);
    --type-size: max(0.74vw, 16px);
  }    

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--type-size);
  line-height:  1.6;
  background-color: var(--fbg_white);
  color: var(--fbg_black);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* component library */
.hero_button {
  font-family: "Open Sans", sans-serif;
  background-color: var(--accent_04);
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent_04);
  color: var(--fbg_white);
  box-shadow: 0px 4px 16px 0px rgba(123, 218, 255, .12); /* accent_02 */
  padding: 8px 24px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  border-radius: 12px;
  width: fit-content;
  cursor: pointer;
  z-index: 1;
}

.hero_button:hover {
  background-color: var(--accent_05);
  border-color: var(--accent_05);
}

.primary_button {
  font-family: "Open Sans", sans-serif;
  background-color: var(--accent_04);
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent_04);
  color: var(--fbg_white);
  box-shadow: 0px 4px 16px 0px rgba(21, 116, 153, .12); /* accent_04 */
  padding: 8px 16px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.primary_button:hover {
  background-color: var(--accent_05);
  border-color: var(--accent_05);
}

#smd_secondary {
  background-color: var(--fbg_white);
  border-color: var(--neutral_04);
  color: var(--neutral_04);
  box-shadow: 0px 4px 16px 0px rgba(105, 105, 109, .12); /* neutral_04 */
}

#smd_secondary:hover {
  border-color: var(--neutral_05);
  color: var(--neutral_05);
}

.secondary_button {
  font-family: "Open Sans", sans-serif;
  background-color: var(--fbg_white);
  border-style: solid;
  border-width: 1px;
  border-color: var(--accent_04);
  color: var(--accent_04);
  box-shadow: 0px 4px 16px 0px rgba(21, 116, 153, .12); /* accent_04 */
  padding: 8px 16px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 600;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.secondary_button:hover {
  border-color: var(--accent_05);
  color: var(--accent_05);  
}

#smd_plain {
  color: var(--neutral_04);
}

#smd_plain:hover {
  color: var(--neutral_05);
}

.plain_button {
  font-family: "Open Sans", sans-serif;
  background-color: var(--fbg_white);
  border: none;
  color: var(--accent_04);
  padding: 8px 16px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 600;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.plain_button:hover {
    color: var(--accent_05);  
}

.bmc_button {
  display: flex;
  width: fit-content;
  border: none;
  background-color: var(--neutral_01);
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 16px;
}

.bmc_button:hover {
  background-color: var(--fbg_white);
}



.container {
  flex-direction: column;
}

.top_nav {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 12px min(4vw, 80px);
  justify-content: space-between;
  background-color: var(--fbg_white);
}

.banner {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  padding: 8px 12px 8px 16px;
  background-color: var(--fbg_black);
  color: var(--fbg_white);
  z-index: 2147483647;
}

.banner p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 400;
  text-wrap: nowrap;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logo img {
  display: flex;
  width: 200px;
  height: auto;
}

.nav_menu {
  display: inline-flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.nav_menu ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.nav_links a {
  color: var(--accent_04);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 500;
  cursor: pointer;
}

.nav_links a:hover {
  color: var(--fbg_black);
  text-decoration: underline;
  text-decoration-color: var(--accent_03);
  text-decoration-thickness: 2px;
}

.hero {
  background-color: var(--accent_05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding: 160px min(8vw, 160px);
  background-image: url('assets/hero_bg.png'); /* Path to your image */
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  /** height: 100dvh; **/
} 

.hero_bg {
  position: absolute;
  display: inline;
  width: 100%;
  opacity: 0.08;
  z-index: -1;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero h2 {
  font-family: "Open Sans", sans-serif;
  color: var(--neutral_01);
  width: 76%;
  max-width: max(80vw, 800px);
  font-size: 64px;
  line-height: 1.2em;
  font-weight: 600;
  z-index: 1;
  letter-spacing: -.02em;
}

.hero h3 {
  color: var(--neutral_01);
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
  width: 56%;
  z-index: 1;
}


.products {
  display: flex;
  flex-direction: column;
  background-color: var(--fbg_white);
  gap: 80px;
  padding: 120px min(8vw, 160px);
  width: 100%;
  align-items: center;
  z-index: 2;
}


.img_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-height: 240px;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.img_tile img {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.value_prop {
  display: flex;
  flex-direction: row;
  gap: 64px;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(49, 49, 55, 0.08);
  overflow: hidden;
}

.title_tile {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
}

.title_tile p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--fbg_black);
}

.title_tile a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--fbg_black);
  text-decoration: underline;
}

.title_tile a:hover {
  text-decoration-color: var(--accent_04);
}

.pro_header {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 0 24px;
}

.pro_header img {
  height: 60px;
  width: 107px;
}

.pro_header h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: var(--neutral_04);
  letter-spacing: -2%;
}

.title_p {
  padding-top: 16px;
  padding-bottom: 40px;
}

.tile {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-bottom: 32px;
}

.tile_header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 24px;
  align-items: baseline;
}

.tile_header h4 {
  color: var(--fbg_black) !important;
}

#normal_p {
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--fbg_black);
}

#normal_p:hover {
  text-decoration-color: var(--accent_04);
}

.tile h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--neutral_05);
  align-content: center;
}

.tile a {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: var(--fbg_black);
  text-decoration: underline;
}

.tile a:hover {
  text-decoration-color: var(--accent_04);
}

.tile span {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: var(--fbg_black);
}

.tile img {
  align-self: center;
  width: 100%;
}

.sub_title {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: var(--fbg_black);
  letter-spacing: -2%;
}


.pricing {
  display: flex;
  flex-direction: row;
  background-color: var(--neutral_01);
  gap: 40px;
  padding: 120px min(8vw, 160px);
  width: 100%;
  justify-content: center;
}

.pricing_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  width: 100%;
  max-width: 960px;
}

.pricing_title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  border-radius: 16px;
  min-width: 264px;
}

.price_header {
  display: flex;
  flex-direction: column;
}

.price_header img {
  height: 60px;
  width: 107px;
}

.price_header h3 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  color: var(--neutral_04);
  letter-spacing: -2%;
}


.pricing_card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  width: 100%;
  min-width: 200px;
  max-width: 440px;
  border-radius: 16px;
  background-color: var(--fbg_white);
  box-shadow: 0px 0px 8px rgba(49, 49, 55, 0.08);
  border: var(--neutral_02) 1px solid;
}

.pricing_header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.pricing_header h3 {
  font-size: 28px;
  line-height: 44px;
  font-weight: 600;
  color: var(--fbg_black);
}

.pricing_header span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--neutral_04);
  padding: 12px;
}

.footer {
  background-color: var(--accent_05);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
  height: fit-content;
  padding: 64px min(8vw, 160px);
}

.footer_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer_menu a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--neutral_03);
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  align-items: center;
}

.footer_menu a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent_03);
  text-decoration-thickness: 2px;
}

.footer_menu h5 {
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 600;
  color: var(--neutral_01);
}

.footer_smd, .footer_company, .footer_contact {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  padding-right: 80px;
  /** padding-bottom: 40px; **/
}

.footer_logo {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 600;
  color: var(--neutral_01);
}

.smd_products, .footer_links, .contact_links, .sub_footer {
  display: flex;
  flex-direction: column; 
  gap: 8px;
  justify-items: center;
}

.smd_products a {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.contact_links img {
  padding-right: 6px;
}

.sub_footer p {
  color: var(--neutral_03);
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.not_found {
  background-color: var(--accent_05);
  width: 100%;
  height: 100dvh;
  padding: 160px min(8vw, 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.not_found_text {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.not_found_text h1 {
  color: var(--neutral_02);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4em;
  max-width: max(60vw, 560px);
}

.not_found_text p {
  font-size: 16px;
  line-height: 1.4em;
  color: var(--fbg_white);
}

@media (max-width: 480px) {
  .hero, .products, .pricing, .footer, .not_found {
    padding: 120px 16px;
  }

  .banner {
    flex-direction: column;
    gap: 8px;
  }

  .hero h2 {
    width: 100%;
    font-size: 42px;
    line-height: 1.2em;
    font-weight: 700;
  }

  .hero h3 {
    width: 100%;
  }

  .hero p {
    font-size: 20px;
  }

  .hero_button {
    width: 100%;
  }

  .value_prop {
    flex-direction: column;
    gap: 40px;
  }

  .pricing {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 840px) {
  .container {
    flex-direction: column;
    row-gap: var(--padding);
  }

  .hero, .products, .pricing, .footer, .not_found  {
    padding: 120px min(6vw, 120px);
  }

  .hero h3 {
    width: 100%;
  }

  .value_prop {
    flex-direction: column;
    gap: 40px;
    max-width: 440px;
  }

  .pricing {
    flex-direction: column;
    align-items: center;
  }

  .pricing_title {
    min-width: none;
    width: 100%;
  }

  .footer {
    gap: 40px;
  }

  .footer_menu {
    gap: 40px;
  }
}

@media (max-width: 1120px) {
  .pricing_cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
}

@media (min-width: 1520px) {
  .hero h2 {
    width: 64%;
  } 

  .hero h3 {
    width: 40%;
  }
}